.main {
    /* background-image: url("https://img.freepik.com/free-vector/worldwide-connection-gray-background-illustration-vector_53876-61769.jpg"); */
    background-image: url("https://i.pinimg.com/736x/7c/75/cb/7c75cbaae5a31e40ac3dfdad8e3a4c68.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    /* background-color: black; */
}

.container-fluid {
    min-height: 100vh;
    padding: 0px;
}

.title {
    /* color: var(--violet-dark); */
    color: var(--Green);
    margin-bottom: 2rem;
    cursor: pointer;
}

.subtitle {
    color: var(--White90);
    cursor: pointer;
}

.title:hover, .subtitle:hover{
    transform: scale(1.08);
    transition: all 0.5s ease;
}

.link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.homepage-container h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button-container {
    border-radius: 20%;
    margin-left: 65%;
    margin-right: 2%;
}


.client-button,
.manager-button,
.admin-button {
    margin: 1rem;
    padding: 0.5rem 4rem;
    border: none;
    border-radius: 4rem;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    cursor: pointer;
}

/* .button-image {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
} */

/* button:hover {
    transition: all 0.4s ease;
    background-color: #169c1b;
} */

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.form{
    padding: 40px;
    height: 420px;
    width: 350px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 30px rgba(0,7,16,0.6);
}
