.main {
    /* background-image: url("https://img.freepik.com/free-vector/worldwide-connection-gray-background-illustration-vector_53876-61769.jpg"); */
    background-image: url("https://i.pinimg.com/736x/7c/75/cb/7c75cbaae5a31e40ac3dfdad8e3a4c68.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    /* background-color: black; */
}

.container-fluid {
    min-height: 100vh;
    padding: 0px;
}

.title {
    /* color: var(--violet-dark); */
    color: var(--Green);
    margin-bottom: 2rem;
    cursor: pointer;
}

.subtitle {
    color: var(--White90);
    cursor: pointer;
}

.title:hover, .subtitle:hover{
    transform: scale(1.08);
    transition: all 0.5s ease;
}

.link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.homepage-container h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button-container {
    border-radius: 20%;
    margin-left: 65%;
    margin-right: 2%;
}


.client-button,
.manager-button,
.admin-button {
    margin: 1rem;
    padding: 0.5rem 4rem;
    border: none;
    border-radius: 4rem;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    cursor: pointer;
}

/* .button-image {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
} */

/* button:hover {
    transition: all 0.4s ease;
    background-color: #169c1b;
} */

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.form{
    padding: 40px;
    height: 420px;
    width: 350px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 30px rgba(0,7,16,0.6);
}

@keyframes bubble{
    0%{
        transform: translateY(0vh);
        opacity: 0;
    }
    5%, 95%{
        opacity: 1;
    }
    100%{
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.bubble-animation-item{
    position: absolute !important;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50% !important;
    border: 2px solid transparent !important;
    z-index: 10 !important;
    -webkit-backdrop-filter: var(--backdrop-filter-blur) !important;
    backdrop-filter: var(--backdrop-filter-blur) !important;
}
.bubble-animation-item:nth-child(1){
    border-color: var(--yellow-light) !important;
    top: 93% !important;
    left: 10% !important;
    animation: bubble 30s linear infinite !important;
}
.bubble-animation-item:nth-child(2){
    border-color: var(--green-light) !important;
    top: 68% !important;
    left: 50% !important;
    animation: bubble 40s linear infinite !important;
}
.bubble-animation-item:nth-child(3){
    border-color: var(--red-light) !important;
    top: 78% !important;
    left: 90% !important;
    animation: bubble 50s linear infinite !important;
}
.bubble-animation-item:nth-child(4){
    border-color: var(--yellow-light) !important;
    top: 92% !important;
    left: 60% !important;
    animation: bubble 60s linear infinite !important;
}
.bubble-animation-item:nth-child(5){
    border-color: var(--green-light) !important;
    top: 80% !important;
    left: 34% !important;
    animation: bubble 70s linear infinite !important;
}
.bubble-animation-item:nth-child(6){
    border-color: var(--red-light) !important;
    top: 57% !important;
    left: 28% !important;
    animation: bubble 80s linear infinite !important;
}
.bubble-animation-item:nth-child(7){
    border-color: var(--yellow-light) !important;
    top: 89% !important;
    left: 5% !important;
    animation: bubble 60s linear infinite !important;
}
.bubble-animation-item:nth-child(8){
    border-color: var(--green-light) !important;
    top: 56% !important;
    left: 77% !important;
    animation: bubble 70s linear infinite !important;
}
.bubble-animation-item:nth-child(9){
    border-color: var(--red-light) !important;
    top: 75% !important;
    left: 65% !important;
    animation: bubble 80s linear infinite !important;
}
.bubble-animation-item:nth-child(10){
    border-color: var(--orange-light) !important;
    top: 77% !important;
    left: 91% !important;
    animation: bubble 80s linear infinite !important;
}

.footer-bottom{
    border-top: 3px solid rgba(255,255,255,0.13);
    background-color: rgba(255,255,255,0.13);
    font-weight: 700;
    cursor: pointer;
}

.m-0{
    font-size: 18px !important;
    color: var(--peach-shadow1) !important;
    padding: 7px;
}

