.rm-text-dec {
    text-decoration: none;
    color: var(--peach);
}

body{
    background-image: url("https://i.pinimg.com/736x/7c/75/cb/7c75cbaae5a31e40ac3dfdad8e3a4c68.jpg");
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

.imglogo{
    padding: 0 !important;
    margin: 0 !important;
}

.imglogo:hover{
    transform: scale(1.3);
    transition: all 0.5s ease;
    cursor: pointer;
}

.navbar{
    background-color: rgba(255,255,255,0.22) !important;
    padding: 0 !important;
}

.footer-bottom{
    border-top: 3px solid rgba(255, 255, 255, 0.13);
    background-color: rgba(255, 255, 255, 0.762);
    font-weight: 700;
    cursor: pointer;
}
