
.jumbotron1 {
    background-color: rgba(255,255,255,0.22);
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px black;
    color: var(--White90);
    padding:  20px;
}

.text-center{
    font-size: 45px;
    color: var(--Green);
}

.form-label{
    font-size: 18px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control{
    background-color: rgba(255,255,255,0.44);
}

.form-control:hover{
    background-color: rgba(255,255,255,0.564);
    box-shadow: 0px 0px 15px -5px black;
}

button {
    border-radius: 1rem;
    /* min-width: 2rem; */
}

/* .App{
    background-image: url("https://i.pinimg.com/736x/7c/75/cb/7c75cbaae5a31e40ac3dfdad8e3a4c68.jpg");
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
} */

.container{
    max-width: 700px;
}

.m-0{
    font-size: 18px !important;
    color: var(--peach-shadow1) !important;
    padding: 7px;
}
