/* .default-layout {
    display: gird;
    grid-template-rows: 80px auto 3rem;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    min-height: 88vh;
}

footer {
    grid-area: footer;
    background: black;
    padding: 1rem;
    color: white;
} */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --violet-dark: rgb(55, 66, 89);
    --violet-light: rgb(84, 91, 119);
    --green: rgb(92, 137, 132);
    --green-shadow: rgb(67, 99, 95);
    --White90: rgb(255, 212, 227);
    --Green: rgb(255, 106, 104);
    --light: rgb(255, 143, 141);
    --peach: rgb(208, 55, 0);
    --peach-shadow: rgb(196, 12, 2);
    --peach-shadow1: rgb(103, 5, 0);
    --yellow-light: hsl(44, 95%, 83%);
    --green-light: hsl(158, 68%, 75%);
    --red-light: hsl(0, 84%, 80%);
    --orange-light: hsl(22, 85%, 80%);
    --backdrop-filter-blur: blur(5px);
}

button {
    margin: 1rem;
    padding: 0.5rem 4rem;
    border: none;
    background-color: var(--peach);
    border-radius: 70%;
    color: white;
    align-items: center;
    cursor: pointer;
}

button:hover {
    background-color: var(--peach-shadow);
    transition: all 0.4s ease;
    transform: scale(1.05);
}


Link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

Form {
    color: var(--red-light);
}

.bg-image1 {
    /* background-image: url("https://img.freepik.com/free-vector/worldwide-connection-gray-background-illustration-vector_53876-61769.jpg"); */
    background-image: url("https://i.pinimg.com/736x/7c/75/cb/7c75cbaae5a31e40ac3dfdad8e3a4c68.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    /* background-color: black; */
}
